<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452742546635-49aotd9v7t20udchks1ffokq3fd8hr7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452742546635-49aotd9v7t20udchks1ffokq3fd8hr7u</string>
	<key>API_KEY</key>
	<string>AIzaSyB64CVO8Bt4b9vOTFde4AmxIDnEYwAwUz4</string>
	<key>GCM_SENDER_ID</key>
	<string>452742546635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.deji.yamato.Cockrepe</string>
	<key>PROJECT_ID</key>
	<string>cockrepe-136da</string>
	<key>STORAGE_BUCKET</key>
	<string>cockrepe-136da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452742546635:ios:aeac39a3e4cc91d6</string>
	<key>DATABASE_URL</key>
	<string>https://cockrepe-136da.firebaseio.com</string>
</dict>
</plist>
